<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @address_catalog.name %>
</p>


<%= link_to 'Edit', edit_address_catalog_path(@address_catalog) %> |
<%= link_to 'Back', address_catalogs_path %>
