<h1>Editing adult</h1>

<%= render 'form' %>

<%= link_to 'Show', @adult %> |
<%= link_to 'Back to Adult list', adults_path %>
<%= link_to 'Back to Edit Family', edit_family_path(@adult.family_id) %>


